.header{
 display: flex;
 justify-content: space-evenly;
 padding-top: 10px;
 padding-bottom: 5px;
 border-bottom: 0.1px solid lightgray;
 width: 100%;
 top: o;
 z-index: 999;
 position: fixed;
 background-color: white;
 
}

.header_left{
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header_right{
    display: flex;
}

.icon{
    object-fit: contain;
    height: 53px !important;
    width: 53px !important;
    margin-top: -6px;

}

.header_search{
    padding: 10px;
    display: flex;
    color: grey;
    align-items: center;
    height: 20px;
    
    border-radius: 5px;
    background-color: #eef3f8;
}

.header_search input{
   outline: none;
   background: none;
   border: none;
   width: 230px;
}