.post_Header{
    display: flex;
}

.post{
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border-radius: 10px;

    height: fit-content;
}

.post_buttons{
    display: flex;
    justify-content: space-evenly;
    
}

.post_autherinfo{
    margin-left: 10px;
}

.post_autherinfo p{
    color: gray;
    font-size: 12px;
}

.post_body{
    margin: 10px 10px 0px 10px;
}