.sidebar{
    position: sticky;
    top: 80px;
    flex: 0.2;
    border-radius: 10px;
    text-align:center;
    height: fit-content;
}

.sidebar_top{
    display: flex;
    flex-direction: column;
    border:1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    align-items: center;
    padding-bottom: 10px;

}

.sidebar_top img{
   margin-bottom: -20px;
    width: 200px;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.sidebar_stat{
    margin-top: 10px;
    display: flex;
    justify-content: space-between  ;
    
}

.sidebar_stat p{
    color: gray;
    font-size: 13px;
    font-weight: 600;
}

.sidebar_statNumber{
    font-weight: bold;
    color: black !important;
}

.sidebar_stats{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar_bottom{
    padding: 10px;
    text-align: left;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    
    
 
}

.sidebar_bottomitem{
    display: flex;
    font-size: 13px;
    color: gray;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 5px;
    padding:5px;
}

.sidebar_bottomitem:hover{
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    border-radius: 10px;
}

.sidebar_hash{
    margin-left: 5px;
    margin-right: 10px;
}

.sidebar_bottom p{
    font-size: 13px;
    padding-bottom: 10px;
}
